<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/main.css" th:href="@{/css/main.css}">
    <title>Title</title>
</head>
<body>

<header th:fragment="Header">
    <div class="container">
        <img src="/images/logo.jpg" alt="logo" class="logo" style="width: 100px;height: auto;">
        <h1>Password Records</h1>
    </div>

        <nav>
            <ul>
                <li><a th:href="@{/}">Main</a></li>
                <li><a th:href="@{view}">View</a></li>
                <li><a th:href="@{/search}">Search</a></li>
            </ul>
        </nav>
</header>

</body>
</html>